*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
* a{
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
}
* li{
    list-style: none;
}
:root{
    --headerBackground: rgba(0, 0, 0, 0.5);
    --footerBackground: rgb(44, 44, 44);
    --componentBackground: #F4F4F4;
    --footerExpandnavBackground: rgb(17, 17, 17);
    --buttonColor: #DDC89B;
    --textColor: #fff;
    --footerSmallText: rgb(200, 200, 200);
    --footerDateText: rgb(131,131,131);
    --textHover: rgb(208, 75, 78);
    --iconHover: red;
    --border: 1px solid rgba(0,0,0,0.25);
    --selectBorder: 1px solid #C4C4C4;
}
/* ---------------LAYOUT--------------- */
/* ----------HEADER---------- */
.header-menu{
    height: 100px;
}
.menu{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--headerBackground);
    padding: 0px;
    margin: 0px;
}
.logo{
    width: 55px;
    height: 55px;
    margin-left: 20px;
    border-radius: 1000px;
}
.menu a{
    text-decoration: none;
    color: var(--textColor);
    font-weight: 600;
    padding: 10px 15px;
}
.menu>a:hover{
    color: var(--textHover);
}
.meta-facebook, .meta-instagram, .meta-twitter{
    color: var(--textColor);
    text-decoration: none;
}
.menu .btn-bars{
    font-size: 2.5em;
    display: none;
}

/* ----------FOOTER---------- */
.footer-container1{
    background-color: var(--footerBackground);
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    padding-left: 80px;
}
.footer-container1>.footer-container1-col1{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1>.footer-container1-col1>.contact{
    margin-bottom: 100px;
}
.footer-container1>.footer-container1-col1>.contact>h4{
    color: var(--textColor);
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col1>.contact>a{
    color: var(--footerSmallText);
    font-size: 15px;
    letter-spacing: -0.5px;
    text-decoration: none;
}
.footer-container1>.footer-container1-col1>.openingtimes>h4{
    color: var(--textColor);
    letter-spacing: 2px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col1>.openingtimes>span{
    color: var(--footerSmallText);
    font-size: 13px;
    letter-spacing: -0.5px;
}
.footer-container1>.footer-container1-col2{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1>.footer-container1-col2>h4{
    color: var(--textColor);
    letter-spacing: 3px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col2>p{
    line-height: 15px;
}
.footer-container1>.footer-container1-col2>p>i{
    color: white;
}
.footer-container1>.footer-container1-col2>p>a{
    color: var(--iconHover);
    font-size: 15px;
    text-decoration: none;
}
#link{
    color: var(--iconHover);
    text-decoration: none;
    font-size: 13px;
}
#blog{
    color: var(--footerSmallText);
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 15px;
}
#date{
    color: var(--footerDateText);
    font-size: 9px;
}
.footer-containter2{
    background-color: var(--footerExpandnavBackground);
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.footer-containter2>.footer-icon{
    text-align: left;
    margin-left: 30px;
}
.footer-containter2>.footer-icon>a{
    color: var(--textColor);
    font-size: 20px;
    padding: 0 8px;
}
.footer-containter2>.footer-icon>a:hover{
    color: var(--iconHover);
}
#sentence{
    text-align: right;
    margin-right: 30px;
}
#sentence>a{
    text-decoration: none;
    color: var(--textColor);
}
#sentence>a:hover{
    color: var(--iconHover);
}
.footer-container1-col3{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1-col3>h4{
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: 550;
    margin: 0 15px 20px 15px;
}
.gallery1 {
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
}
.gallery1>img {
    width: 100%;
    height: 100%;
    object-position: center;
    transition-duration: 0.1s;
}
.gallery1>img:hover {
    transform: scale(1.1);
}
.gallery1__img1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img4{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img7{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery1__img8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery1__img9{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
/* ---------------LANDINGPAGE--------------- */
/* ----------TOP-SLIDE---------- */
.page-content-panel{
    position: relative;
    z-index: -1;
    margin-bottom: 30px;
}
.slick-prev::before, .slick-next::before{
    display: none;
}
/* ----------LANDINGPAGE-SLIDE---------- */
.slick-list{
    position: relative;
    z-index: -1; 
}
.slide-title{
    border-bottom: var(--border);
}
.btn-click{
    display: block;
    text-align: center; 
    margin-bottom: 50px; 
}
.btn-previous, .btn-next{
    padding: 5px 8px;
    color:var(--buttonColor);
    background-color: var(--footerBackground);
}
.btn-previous{
    margin-right: 5px;
    border: none;
}
.btn-next{
    margin-left: 5px;
    border: none;

}
/* ----------PANEL-BOTTOM---------- */
.panel-bottom{
    display: flex;
    margin-bottom: 50px;
}
.row-panel-bottom-img-col2{
    width: 100%;
    height: 87%;
    object-fit: center;
    object-position: center;
}
.bottom-col-2{
    display: flex;
    justify-content: center;
}
.img1{
    margin-left: 32px;
}
.img2{
    margin-top: 24px;
    margin-left: 32px;
}
.img4{
    margin-left: 24px;
}
/* ---------------PRODUCT--------------- */
/* ----------Wrapcrumb---------- */
.wrap-breadcrumb{
    margin: 20px;
}
.wrap-breadcrumb ul{
    display: flex;
    padding: 0px;
    margin: 0px;
}
.item-link a{
    background-color: var(--componentBackground);
    color: black;
    padding: 7px;
    font-weight: bold;
}
.item-link span{
    background-color: var(--iconHover);
    color: var(--textColor);
    padding: 7px;
    font-weight: bold;
}
.wrap-breadcrumb ul li a{
    text-decoration: none;
}
/* ----------Filter-sidebar---------- */
.sidebar-filter{
    padding: 0px;
    margin: 0px;
}
.product-filter-container{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
.filter-title{
   background-color: black;
   font-size: 18px;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   margin: 0;
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #e6e6e6;
   padding: 10px 0 10px 5px;
   float: left;
}
.filter-widget .brand-widget{
    margin-bottom: 0;
}
.widget .widget-content{
   display: inline-block;
   position: relative;
   width: 100%;
   padding-left: 8px;
}
.widget .widget-title{
   font-size: 14px;
   color: #222222;
   font-weight: bold;
   text-transform: uppercase;
   margin: 0;
   width: 100%;
   text-align: left;
   justify-content: center;
   border-bottom: 1px solid #e6e6e6;
   padding: 10px 0 10px 5px;
   float: left;
}
.widget ul li a span{
   /* padding-left: 170px; */
   color: #7d7d7d;
   position: absolute;
   right: 10px;
}
.widget ul li a{
   text-decoration: none;
   font-size: 14px;
   line-height: 30px;
   color: #444444;
}
.widget ul li a:hover{
   color: #f33a3a;
}
.widget ul li{
   list-style: none;
   float: left;
   width: 100%;
}
.widget ul{
   padding: 0;
   margin: 0;
}
.widget.filter-widget .vertical-list li a:not(.btn-control)::before{
   content: '';
   display: inline-block;
   float: left;
   width: 15px;
   height: 13px;
   background-color: #fafafa;
   border: 1px solid #e9e9e9;
   margin-top: 12px;
}
.widget.filter-widget .vertical-list li a:not(.btn-control)::after{
   content: "\f00c";
   font-family: FontAwesome;
   display: inline-block;
   float: left;
   margin-top: 0;
   transform: translateX(-14px);
   -webkit-transform: translateX(-14px);
   -ms-transform: translateX(-14px);
   margin-right: -2px;
   opacity: 0;
   filter: alpha(opacity=0);
   transition: all ease 0.5s 0s;
   -webkit-transition: all ease 0.5s 0s;
   -moz-transition: all ease 0.5s 0s;
   -o-transition: all ease 0.5s 0s;
}
.widget.filter-widget .vertical-list li a:hover::after,
.widget.filter-widget .vertical-list li a.active::after{
   opacity: 1;
   filter: alpha(opacity=100);
}
/* ----------Sort-Product-Nav---------- */
.wrap-shop-control{
    padding: 0px;
    margin: 20px 0px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sort-item-head-text, .use-chosen{
    margin-right: 10px;
}
.sort-item-head-text{
    font-size: 14px;
}
.use-chosen{
    padding: 3px;
    font-size: 14px;
    border: var(--selectBorder);
}

/* ---------------RESPONSIVE--------------- */
@media screen and (max-width: 2560px){
}
@media screen and (max-width: 1440px){
}
@media screen and (max-width: 1300px){
}
@media screen and (max-width: 1200px){
    .menu .meta-twitter, .menu .meta-instagram{
        display: none;
    }
    .gallery1 {
        margin: 0 15px;
        display: grid;
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(3, 90px);
        grid-gap: 5px;
    }
}
@media screen and (max-width: 1100px){
    .footer-container1-col1, .footer-container1-col2, .footer-container1-col3{
        width: 350px;
    }
    .gallery1 {
        margin: 0 15px;
        display: grid;
        grid-template-columns: repeat(3, 65px);
        grid-template-rows: repeat(3, 65px);
        grid-gap: 5px;
    }
}
@media screen and (max-width: 1024px){
    .footer-container1-col1, .footer-container1-col2, .footer-container1-col3{
        width: 250px;
    }
    .gallery1 {
        margin: 0 15px;
        display: grid;
        grid-template-columns: repeat(3, 35px);
        grid-template-rows: repeat(3, 35px);
        grid-gap: 5px;
    }
}
@media screen and (max-width: 950px){
    .menu .needhelp{
        display: none;
    }  
    .footer-container1-col3{
        display: none;
    }
}
@media screen and (max-width: 850px){
    .menu .contact{
        display: none;
    }
    .footer-container1-col2{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .logo{
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }
   
}
